* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Circular', sans-serif;
}

@font-face {
    font-family: 'Circular';
    src: url('Circular/CircularStd-Medium.otf') format('opentype'), url('Circular/CircularStd-Bold.otf') format('opentype');
}

/* Header */

header {
    background-color: black;
}

.header-container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 1200px) {
    .header-container {
        max-width: 970px;
        height: 80px;
    }   

}

@media (max-width:990px) {
    .header-container {
        max-width: 750px;
        padding: 0 15px;
        height: 54px;
    }

    .header-logo > a > img {
        height: 27.75px;
    }

    .header-nav ul li {
        display: none;
    }

    .header-nav ul .separator {
        display: none;
    }

    .header-nav > button {
        color: white;
        background: none;
        border: none;
        font-size: 1.6rem;
        font-weight: bold;
        display: inline-block;
        
    }

}

 .logo {
    height: 40px;
}

button {
    display: none;
}

.header-nav ul {
    list-style: none;
    color: white;
    
    display: flex;
}

.header-nav li:last-child a {
    padding-right: 0px;
}

.header-nav a {
    display: inline-block;
    color: white;
    text-decoration: none;
    line-height: 24px;
    padding: 28px 17px;
}

.header-nav a:hover {
    color:#1ED760;
}

.header-nav .separator {
    display: inline-block;
    height: 16px;
    width: 1px;
    margin: 32px 17px;
    background: white;
}

/* Header */
/* Showcase */

.showcase-container {
    color: #1ED760;
    height: 120vh;
    background-color: #2941AB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.showcase-title h1 {
    font-size: 9.75rem;
    line-height: 166px;
    letter-spacing: -6.2px;
    text-align: center;
    margin-bottom: 24px;
}

.showcase-text p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-align: center; 
    margin-bottom: 40px;
}

.showcase-button > button {
    display: flex;
    color: #2941AB;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    background-color: #1ED760;
    padding: 14px 32px;
    border: none;
    border-radius: 30px;
}

@media (max-width: 1200px) {
    .showcase-container {
        background-image: url('https://www-growth.scdn.co/static/home/bursts-tablet.svg');
    background-repeat: no-repeat;
    background-size: 153%;
    background-position: right 40% center;
    }
    
    .showcase-title h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: -4.2px;
        margin-bottom: 24px;
    }

    .showcase-text p {
        max-width: 400px;
    }
}

@media (max-width: 620px) {
    .showcase-container {
        background-image: url('https://www-growth.scdn.co/static/home/bursts-mobile.svg');
    background-repeat: no-repeat;
    background-size: 215%;
    background-position: center top 40%;
    }
    
    .showcase-title h1 {
        font-size: 3rem;
        line-height: 3.5rem;
        letter-spacing: -1.9px;
        margin-bottom: 1rem;
    }

    .showcase-text p {
        font-size: 1rem;
        
        line-height: 1.5rem;
        max-width: 312px;
        margin-bottom: 32px;
    }
}

/* Showcase */

/* Footer */

footer {
    background-color: black;
    padding: 80px 0px 50px 0px;
}

.footer-container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    color: white;
}

.footer-container ul {
    list-style: none;
}

.footer-top-logo {
    padding: 0 15px;
}

.footer-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-top-items {
    flex-grow: 2;
    display: flex;
    justify-content: space-around;
    max-width: 700px;
}

.footer-top-item {
    padding: 0 15px;
    flex: 1;
}

.footer-top-item p {
    color: #919496;
    font-size: 12px;
    line-height: 16.8px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 0;
}

.footer-top-item a {
    font-weight: normal;
    line-height: 24px;
    display: block;
    color: white;
    text-decoration: none;
    padding: 3px 0 15px 0;
}

.footer-top-socials {
    display: flex;
    margin: 0 15px 0 116.344px;
}

.footer-top-socials a {
    color: white;
    padding: 15px;
    background-color: #222326;
    text-decoration: none;
    height: fit-content;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 1.5rem;
}

.footer-top-socials a i {
    display: block;
    width: 24px;
    height: 24px;
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 1032px) {
    .footer-container {
        max-width: 750px;
    }
   
    .footer-top {
       flex-direction: column;
    }

    .footer-top-socials {
        margin: 120px 15px 15px 15px;
    }

    .footer-top-item {
        justify-content: flex-start;
    }

    .footer-top-item a {
        width: fit-content;
    }

    .footer-top-socials a {
        padding: 10px;
    }
}


@media (max-width: 695px) {
    .footer-top-items {
        flex-direction: column;
    }
}


/* Footer */