* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

img {
	display: block;
	max-width: 100%;
}

/* Header */

.header-info-container {
    background-color: #122AB2;
}

.header-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    max-width: 960px;
    margin: 0 auto;
}

.header-info p {
    margin: 10px;
    font-size: 1rem;
}

.header-info a {
    color: white;
}

.header-container {
    background-color: #2C70FF;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
    max-width: 960px;
    padding: 15px 0;
    margin: 0 auto;
    align-items: center;
}

.header h1 {
    margin: 0 10px;   
}

.header h1 a {
    color: white;
}

.header-nav {
    display: flex;
    flex-wrap: wrap;
}

.header-nav a {
    color: white;
    padding: 10px;
    font-size: 1.25rem;
}

.header-nav a:hover {
    color: #122AB2;
}

button {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2.25rem;
}

button:focus ~ .header-info {
    display: flex;
    flex-direction: column;
}

button:focus ~ .header-nav {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 82px;
    right: 0px;
    background-color: #2C70FF;
    transition: .5s;
}

@media (max-width: 700px) {

    button {
        display: flex;
        margin: 0px 10px;
        cursor: pointer;
    }

    .header-info {
        display: none;
    }
    
    .header-nav {
        display: none;
    }

    .header-nav li a{
        display: block;
        padding: 0px 30px 10px 5px;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .header-nav li a {
        font-size: 1.5rem;
    }

}

/* Header */

/* Main */

main {
    max-width: 960px;
    margin: 0 auto;
}

.title {
    margin: 60px 10px;
}

.title h1{
    font-size: 3rem;
    line-height: 1;
    color: #222222;
}

/* Sobre */

.sobre {
    padding: 60px 0;
    border-top: 2px solid #2C70FF;
    border-bottom: 2px solid #2C70FF;
    display: flex; 
    flex-wrap: wrap;
}

.sobre-texto {
    margin: 10px;
    flex: 2 1 350px;
}

.sobre-texto h2 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: #222222;
}

.sobre-texto p {
    color: #7C7C7C;
    font-size: 1.25rem;
    line-height: 1.4;
    margin-bottom: 1.25rem;
 
}

.imagens-container {
    display: flex;
}

.sobre-imagens {
    margin: 10px 10px;
    flex: 1 1 140px;
    align-self: flex-start;
}

.sobre-imagens img {
    max-width: 100%;
}

@media (max-width: 685px) {
    .sobre-imagens {

    }
}

/* Sobre */

/* Produtos */

.produtos {
    margin: 60px auto;
    max-width: 960px;
}

.produtos h1 {
    font-size: 3em;
    margin: 10px;
}

.produtos-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.produtos-item {
    margin: 10px;
    flex: 1 1 175px;
}

.produtos-item h2 {
    font-size: 3rem;
    color: #A4A4A4;    
    margin: 60px 10px;
    width: fit-content;
}

.produtos-item:nth-child(1) {
    border-top: 8px solid #AE81FF;

}
.produtos-item:nth-child(2) {
    border-top: 8px solid #F9265E;

}
.produtos-item:nth-child(3) {
    border-top: 8px solid #66D9EB;
}


/* Produtos */

/* Preço */

.preco {
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-end;
}

.preco-item {
    background-color: #F7F7F7;
    border: 4px solid white;
    padding: 20px;
    margin: 10px;
    flex: 1 1 200px;
    max-width: 350px;
}

@media (max-width: 780px) {

    .preco {
        padding: 30px;
    }
    
    .preco-item {
        padding: 0px;
    }
    
    .preco-item:nth-child(3) {
        order: -3;
    }

    .preco-item:nth-child(2) {
        order: -2;
    }
}
.preco-item h2 {
    font-size: 3rem;
    color: #A4A4A4; 
    margin-top: 20px;
    text-align: center;
}

.preco-item p {
    padding-top: 10px;
    padding-bottom: 5px;
    margin: 20px 0;
    border-top: 4px solid white;
    border-bottom: 4px solid white;
    font-size: 3rem;
    font-weight: bold;
    color: #222222;
    text-align: center;
}

.preco-item p sup {
    font-size: 1.5rem;
}

.preco-item li {
    color: #7C7C7C;
    font-size: 1.25rem;
    font-style: italic;
    margin-bottom: 1rem;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preco-item li::after {
    content: '';
    display: inline-block;
    height: 6px;
    width: 6px;
    background: #2C70FF;
    border-radius: 50%;    
}

.preco-item a {
    display: block;
    text-align: center;
    color: #222222;
    font-size: 2.25rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 4px solid #222222;
    margin: 20px 0;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Preço */

/* Qualidade */

.qualidade-container {
    max-width: 960px;
    margin: 60px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.qualidade-item {
    flex: 1 1 250px;
    margin: 20px 10px;
    max-width: 350px;
}

.qualidade-item h2 {
    font-size: 2.25rem;
    color: #A4A4A4; 
    margin-bottom: 20px;
}

.qualidade-item:nth-child(3n+1) h2::before {
    content: '';
    display: inline-block;
    height: 30px;
    width: 8px;
    margin-right: 10px;
    background-color: #AE81FF;
}

.qualidade-item:nth-child(3n+2) h2::before {
    content: '';
    display: inline-block;
    height: 30px;
    width: 8px;
    margin-right: 10px;
    background-color: #F9265E;
}

.qualidade-item:nth-child(3n+3) h2::before {
    content: '';
    display: inline-block;
    height: 30px;
    width: 8px;
    margin-right: 10px;
    background-color: #66D9EB;
}



.qualidade-item p {
    font-size: 1.25rem;
    color: #7C7C7C; 
    line-height: 28px;
}

/* Qualidade */

/* Newsletter*/

.newsletter-container {
    max-width: 960px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.newsletter-texto {
    margin: 0 10px;
    flex: 1 1 260px;
}

.newsletter-texto h1 {
    font-size: 3rem;
    color: #A4A4A4;  
}

.newsletter-texto p {
    font-size: 1.25rem;
    font-style: italic;
    color: #7C7C7C;
    margin-bottom: 10px;
}

.newsletter-registro {
     flex: 3 1 200px;
     margin: 0 10px;
     align-self: center;
     display: flex;
     flex-wrap: wrap;
     width: 100%;
}

.newsletter-registro input {
    flex: 2 1 60px;
    font-size: 1.25rem;
    font-style: italic;
    color: #7C7C7C;
    padding: 15px 10px;
    border: 4px solid #2C70FF;
    outline: none;
}

.newsletter-registro button {
    flex: 2 1 60px;
    padding: 10px;
    font-size: 2.25rem;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    background-color: #2C70FF;
    outline: none;
    border: none;
}

.newsletter-registro button a {
    text-decoration: none;
    color: white;
}

@media (max-width: 490px) {
    .newsletter-container {
        padding-top: 0;
    }
    .newsletter-registro button {
        font-size: 1.5rem;
    }
}

/* Newsletter*/

/* Footer */

footer {
    background: #2C70FF;
}

footer p {
    color: #122AB2;
    font-size: 2.25rem;
    text-align: center;
    padding: 60px;
}

@media (max-width: 800px) {
    footer p {
        font-size: 2rem;
        padding: 30px;
    }
}

@media (max-width: 680px) {
    footer p {
        font-size: 1.5rem;
        padding: 20px;
    }
}

@media (max-width: 500px) {
    footer p {
        font-size: 1.25rem;
        padding: 15px;
    }
}

@media (max-width: 415px) {
    footer p {
        font-size: 1rem;
        padding: 15px;
    }
}


/* Footer */