* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Open sans, sans-serif;
    list-style: none;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    background-color: #efefef;
    line-height: 1.5;
}

.supress-scroll {
    overflow: hidden;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 12px;
    padding-left: 12px;
    max-width: 1024px;
}


.js .header {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 5;
    top: 0;
}


.header__logoTitle {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    background-color: #63c6ae;
    display: inline-block;
    padding: 20px;
}

.header__menuToggle {
    cursor: pointer;
    position: absolute;
    top: 22px;
    right: 20px;
    border: none;
    background-color: transparent;
}

.toggleLine {
    display: block;
    width: 20px;
    height: 4px;
    margin: 5px;
    border-radius: 20px;
    background-color: #242a2c;
}

.js .header__nav {
    transition: .5s ease-in;
}

.header__nav li {
    background-color: #242a2c;
    border-bottom: 1px dotted rgba(255, 255, 255, .2);
}

.header__nav a {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #586165;
    display: inline-block;
    width: 100%;
    padding: 25px;
    transition: color .3s ease-in;
}

.header__nav a:hover {
    color: #63c6ae;
}

.js .hero {
    margin-top: 76px;
}
.hero {
    height: 85vh;
    text-align: center;
    padding: 40px 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, white 50%, transparent 50%) left calc(50% + 16px) bottom no-repeat, linear-gradient(-45deg, #efefef 50%, transparent 50%) left calc(50% - 16px) bottom no-repeat, url(images/01.jpg) center top;
    background-size: 32px 32px, 32px 32px, cover;

}

.hero__title {
    background-color: rgba(99, 198, 174, .5);
    color: white;
    font-size: 28px;
    font-weight: 600;
    padding: 30px 20px;
    border-radius: 5px;
    text-transform: uppercase;
}

.hero__text {
    background-color: rgba(36, 42, 44, .5);
    margin: 10px 30px 35px;
    color: white;
    padding: 20px 25px;
    border-radius: 5px;
}

.hero__button {
    border: 1px solid rgba(255, 255, 255, .5);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .3);
    padding: 15px 25px;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    transition: all .3s ease-out;
}

.hero__button:hover {
    border-color: white;
    background-color: rgba(0, 0, 0, .5);
}

.people-cards {
    margin-top: 60px
}

.people-cards__img {
    display: block;
    width: 100%;
}

.people-cards__card {
    margin-bottom: 30px;
}

.people-cards__card:hover {

    outline: 5px solid #63c6ae;
    outline-offset: -5px;
}

.people-cards__card:hover .people-cards__avatar img {
    transform: translateY(-50%);
}

.people-cards__card:hover .people-cards__title,
.people-cards__card:hover .people-cards__text {
    color: #63c6ae
}

.people-cards__avatar {
    margin: -45px auto;
    height: 88px;
    width: 88px;
    overflow: hidden;

}

.people-cards__content {
    text-align: center;
    padding: 40px 25px 10px;
    border-left: 1px solid #dbe1e7;
}

.people-cards__title {
    color: #737c85;
    font-size: 21px;
    font-weight: 400;
    margin-top: 10px;
}

.people-cards__text {
    color: #929da5;
    font-size: 14px;

}

.main-content {
    background-color: #f8f9f9;
    padding: 20px 0 80px;
    border-top: 1px solid #e3e3e3;
}

.main-content h3 {
    color: #737c85;
    font-size: 21px;
    margin: 40px 0 24px;
    font-weight: 600;
}

.main-content p {
    color: #929da5;
    font-size: 14px;
    word-spacing: 2px;
    margin-bottom: 16px;
}

.button {
    display: inline-block;
    font-weight: 600;
    color: white;
    padding: 15px 40px;
    border-radius: 5px;
    transition: all .3s ease-out;
}

.button:hover {
    background-color: #929da5;
}

.button-primary {
    background-color: #63c6ae;
    margin-right: 15px;
}

.button-secondary {
    background-color: #455357;
}

.latest-articles__title {
    background-color: #63c6ae;

    padding: 15px 0;
}

.latest-articles__title h2 {
    color: white;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.latest-articles__thumbs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: auto;
    gap: 0;
}

.latest-articles__thumbs a::after {
    content: '';
    display: inline-block;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all .3s ease;
}

.latest-articles__thumbs a {
    position: relative;
    overflow: hidden;
}

.latest-articles__thumbs a:hover::after {
    background-color: rgba(0, 0, 0, .3);
}

.latest-articles__thumbs img {
    display: block;
    width: 100%;
    transition: all .3s ease-out;
}

.latest-articles__thumbs a:hover img {
    width: 500px;
    transform: scale(1.1);
}

.js .laptop-slider {
    overflow: hidden;
    color: #EFF0F0;
    
}

.js .laptop-slider .slideshow {
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
}

.js .laptop-slider figure {
    opacity: 0;
    transition: 1s;
    width: 100%;
    padding: 5%;
    position: absolute;
    top: 0;
    left: 0;
}

.js .laptop-slider figure img {
    width: 100%;
}

.js .laptop-slider figure.show {
    position: static;
    opacity: 1;
}

.js .laptop-slider .prev, .js .laptop-slider .next {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);    
    font-size: 2rem;
}

.js .prev {
    left: 10px;
    cursor: pointer;
}

.js .next {
    right: 10px;
    cursor: pointer;
}

.laptop-slider {
    background-color: #242a2c;
    padding: 125px 0 100px;
    overflow: auto;
    white-space: nowrap;
}

.slideshow figure {
    display: inline-block;
}



.quote-container {
    background-color: #63c6ae;
    padding: 50px 10px;
    border-bottom: 10px solid #48b9a1;
    text-align: center;
}

.js .quote-slideshow {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.js .quote-slideshow .prev, .js .quote-slideshow .next {
    position: absolute;
    top: 50%;
    transform: translateY(-25%);
    font-size: 2rem;
    color: white;
}

.js .quote-slideshow .prev {
    left: 0px;
}

.js .quote-slideshow .next {
    right: 0px;
}

.js .quote-slideshow figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: 2s;
}

.js .quote-slideshow .show {
    position: static;
    opacity: 1;
}

.quote-slideshow h2 {
    color: white;
    font-size: 30px;
    font-style: italic;
    font-weight: 600;
}

.quote-slideshow figcaption {
    color: white;

}

.no-js .quote-slideshow figure:nth-of-type(2) {
    margin-top: 50px;
}

.footer {
    color: #454e51;
    background-color: #242a2c;
    font-size: 14px;
    padding: 50px 0 150px;
}

.footer h2 {
    text-transform: uppercase;
}

.footer p {
    margin-bottom: 16px;
}

.footer__nav {
    margin-top: 20px;
}

.footer__nav a {
    color: #50585a;
    font-weight: bold;
    display: inline-block;
    padding: 10px 0;
}

.footer__nav a:hover {
    color: #48b9a1
}

@media screen and (min-width: 400px) {
    .people-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        gap: 20px
    }

    .latest-articles__thumbs {

        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-auto-rows: auto;

    }
}

@media screen and (min-width: 1000px) {

    .header {
        display: flex;
        align-items: center;
        background-color: white;
        margin: 0 auto;
        width: 100%;
    }

    .js .header {
        position: fixed;
    }

    .header__logoTitle {
        width: 25%;
        text-align: right;
    }

    .header>.header__nav {
        width: 65%;
        height: 100%;
        position: relative;
    }

    .header__menuToggle {
        display: none;
    }

    .header__nav ul {
        height: 100%;
        display: flex;

        justify-content: space-evenly;
    }

    .header__nav li {
        background-color: white;
    }

    .header__nav ul a {
        display: inline-block;
        height: 100%;
        width: 100%;
        padding: 25px 15px;
        color: #454e51;
    }

    .header__nav ul a:hover {
        color: #63c6ae;
    }

    .people-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    .main-content .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .latest-articles__thumbs {
        grid-template-columns: repeat(6, 1fr);
    }

    .footer .container {
        display: flex;
    }



    .footer .container>* {
        width: fit-content;
        margin: 20px;
    }

    .footer__nav li {
        width: 100px;
    }

    .footer__nav a {
        padding: 0;
    }

}