* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    overflow-x: hidden
}

header {
    background-color: black;
}

.headercontainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.headercontainer .logo {
    margin: 20px 10px;
}

.headercontainer a {
    color: white;
    text-decoration: none;
}

.headercontainer ul {   
    list-style: none;
}

.headercontainer ul a {
    font-weight: bold;
    padding: 30px 15px;
    display: block;
}

.headercontainer .navbar-items {
    display: flex;
    justify-content: space-between;
}

.headercontainer .navbar-items a:hover {
    color: rgb(96, 223, 96);
}

label {
    color: white;
}

input[type="checkbox"] {
    margin-right: 10px;
    display: none;
}

@media (max-width: 900px) {


    input[type="checkbox"] {
        margin-right: 10px;
        display: none;
    }

    label[for="ckb"] {
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
    }

    .line {
        width: 18px;
        height: 3px;
        margin: 5px 0;
        background-color: white;
        transition: .4s ease-in-out;
        border-radius: 200px
    }



    input[type="checkbox"] ~ .navbar-items {
        display: flex;
        flex-direction: column;
        height: fit-content;
        width: fit-content;
        position: absolute;
        top: 77px;
        right: 0px;
        transform: translateX(100%);
        background-color: black;
        transition: .5s ease-in-out;
    }
    
    input[type="checkbox"]:checked ~ .navbar-items {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    position: absolute;
    top: 76px;
    right: 0px;
    transform: translateX(0);
    background-color: black;
    transition: .5s ease-in-out;
    transition-delay: .2s;
    }

    input[type="checkbox"]:checked ~ label[for="ckb"] .line1 {
        transform: translateY(10px) rotate(-45deg);
    }
    
    input[type="checkbox"]:checked ~ label[for="ckb"] .line2 {
        opacity: 0;
    }

    input[type="checkbox"]:checked ~ label[for="ckb"] .line3 {
        transform: translateY(-6px) rotate(45deg);
    }

    .navbar-item a {
        padding: 15px !important;
    }

}