@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1em;
    font-family: Arial, sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(to bottom,#1d1e20, rgb(143, 141, 141), #1d1e20);
}

header {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 3px 30px;
}

.logo {
    width: 70px;
}

.menu {
    display: flex;
    
}

.menu li {
    margin-left: 10px;
}

.menu a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 30px 10px;
}

.menu a:hover {
    color: black;
}

/* CSS Flexbox 1 */

h1 {
    text-align: center;
    margin-top: 50px;
    color: white;
    text-shadow: 0px 0px 10px #1d1e20;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    align-items: baseline;
}

.flex > div {
    flex: 1 1 200px;
    margin: 10px;
}

.flex > div:hover {
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
}

.flex > div > p {
    font-weight: bold;
    color: white;
    background-color: #1d1e20;
    padding: 0px 4px 2px 4px;
    box-shadow: 0px 0px 10px black;
    margin-top: -4px;
}

img {
    max-width: 100%;
}
