* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dotted;
    transition: color .3s ease-in-out, border 0.3s ease-in-out;
}

a:hover {
    color: #49bf9d;
    border: none;
}


strong {
    color: white;
    font-weight: normal;
}


.main-header {
    position: fixed;
    height: 100vh;
    width: 35%;
    background-image: url(imagens/overlay.png), url(imagens/1646782835164.jpg);
    background-position: left top;
    background-size: auto, cover;
}

.header-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 128px 64px;
    position: relative;
    text-align: right;
}

.header-container-items {
    height: 100%;
}

.header-container img {
    border-radius: 50%;
    height: 100px;
    margin-bottom: 20px;
}

.header-container h1 {
    font-size: 21px;
    line-height: 37.8px;
    letter-spacing: .25px;
    text-align: right;
    color: rgba(255, 255, 255, .5);
}

.non-dotted  {
    border: none;
}

.simple-link, .simple-link:hover {
    padding: 0;
    border: none;
    line-height: inherit;
}

.footer-nav-icons {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    color: rgba(255, 255, 255, .4);
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: -72px;
}

.footer-nav-icons li {
    margin-left: 20px;
}

.footer-nav-copy {
    display: flex;
    list-style: none;
    color: rgba(255, 255, 255, .4);
    font-size: 13px;
    line-height: 12.8px;
}

.footer-nav-copy li {
    margin-left: 10px;
}

.footer-nav-copy #middle {
    padding: 0 10px;
    border-right: 1px solid;
    border-left: 1px solid;
}


main {
    margin-left: 35%;
    padding: 128px 64px;
}

.top header h2 {
    font-size: 32px;
    line-height: 48px;
    color: #787878;
    margin-bottom: 32px;
}

p {
    font-size: 16px;
    line-height: 28px;
    color: #A2A2A2;
    margin-bottom: 32px;
}

section a {
    font-size: 16px;
    line-height: 44px;
    color: #787878;
    border: none;
    padding: 13px 40px;
    border: 3px solid #efefef;
    border-radius: 8px;
}

section a:hover {
    border: 3px solid #49bf9d;
}

.recent-work {
    margin: 64px 0;
    padding: 64px 0;
    border-top: 3px solid #efefef;
}

.work-card a {
    display: block;
    padding: 0;
    margin: 0;
    border: 0;
    position: relative;
}

.work-card  a:hover {

    padding: 0;
    margin: 0;
    border: 0;
}

.work-card  a:after {
    opacity: 0;
}

.work-card  a:hover::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    content: 'Veja Mais';
    font-weight: bold;
    color: white;
    line-height: 16px;
    border: 2px solid;
    border-radius: 5px;
    opacity: 1;
}

.work-card  a::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 1s;
}

.work-card  a:hover::before {
    background-color: rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.work-card h2, .get-in-touch h3 {
    font-size: 24px;
    line-height: 26px;
    color: #787878;
    margin-bottom: 24px;
}

.work-card-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work-card {
    width: 50%;
    flex: 1 1 250px;
    margin: 10px;
}

.work-card img {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
}

.work-card h3 {
    font-size: 16px;
    line-height: 24px;
    color: #787878;
    margin-bottom: 8px;
}

.work-card p {
    font-size: 12px;
    line-height: 19.2px;
    color: #A2A2A2;
    letter-spacing: .2px;
}

.form-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.form-container fieldset {
    border: none;
}

.form-container label {
    display: none;
}

.form-container input, textarea {
    border: 3px solid #efefef;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    color: inherit;
}

.form-container input:focus, textarea:focus {
    outline-color: #49bf9d;
}

.form-container textarea {
    display: block;
    width: 95%;
    resize: vertical;
}

.address li {
    padding: 10px;
    list-style-type: none;
    display: flex;
    font-size: 16px;
    line-height: 28px;
    color: #A2A2A2;
}

.address li h3 {
    font-size: inherit;
    color: #A2A2A2;
    padding-right: 5px;
}

.addressli .fa-solid {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.button {
    display: inline-block;
    border: 3px solid #efefef !important;
    border-radius: 8px !important;
    padding: 13px 40px !important;
    transition: .2s ease-in-out;
    color: #787878 !important;
    font-size: 16px !important;
    cursor: pointer;
}

.button:hover {
    border: 3px solid #49bf9d !important;
    color: #49bf9d !important;
}