@import url('https://fonts.googleapis.com/css2?family=Anton&family=Redressed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

* {
    margin: 0px;
    padding:0px;
    font-family: Verdana, 'Geneva', sans-serif;
}

html, body {
    min-height: 100vh;
    background-color: rgb(75, 75, 75);
}
header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    font-family: 'Anton', sans-serif;
    padding-top: 25px;
    font-variant: small-caps;
    font-size: 10vw;
}

header > p {
    padding-bottom: 25px;
}

a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0px;
    line-height: 1.7em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section > p {
    font-family: 'Redressed', cursive;
    padding-bottom: 1.5em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(107, 107, 107);
    color: white;
    box-shadow: inset 0px 6px 3px rgba(0, 0, 0, 0.356);
}

section.imagem > p {
    text-shadow: 1px 2px 5px black;
    background-color: rgba(0, 0, 0, 0.473);
    color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;

}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
    padding: 10px;
}